# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_CLAVERT_COLEMAK_DH_LEFT

config ZMK_KEYBOARD_NAME
	default "ClavertColemakDH"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_CLAVERT_COLEMAK_DH_LEFT || SHIELD_CLAVERT_COLEMAK_DH_RIGHT

config ZMK_SPLIT
	default y

endif