# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT
config SHIELD_CLAVERT_COLEMAK_DH_LEFT
	def_bool $(shields_list_contains,clavert_colemak_dh_left)

config SHIELD_CLAVERT_COLEMAK_DH_RIGHT
	def_bool $(shields_list_contains,clavert_colemak_dh_right)